/*  */

body {
    font-family: 'Arial', sans-serif ,plus jakarta sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    flex: 1;
    padding: 2rem;
}
    
.navbar {
    background-color: #d29e9e;
    padding: 1rem;
    height: 5rem;
}
.fa-compass {
    color: #ff0019;
    font-size: 2.5rem;
}

 .nav-link {
    color: #222222 !important;
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* footer */

.f-info-links
{
    text-decoration: none;
    color: #222222 !important;

}



.f-info-social , 
.f-info-links,
.f-info-brand

{
    width: 100%;
    font-size: 1.2rem; 
    margin-right:1 rem;
    vertical-align: middle;
    align-items:center ;
    justify-content: center;
}

.f-info-links a:hover
{
    text-decoration: underline;
}
.f-info
{
    text-align: center;
    height: 8rem ;
    background-color:#d29e9e ;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
}

/* cards */

.listing-card {
    width: 18rem;
    margin-bottom: 2rem;
    border: none !important;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-img-top {
    width: 100%;
    height: 200px !important;
    object-fit: cover !important;
}
.card-body {
    padding: 0rem !important;
}

.card-text {
    /* font-size: 1.1rem; */
    font-weight: 40;
    /* color: #333;
    margin-bottom: 0.5rem; */
}

.listing-link
{
    text-decoration: none;

}

/* card overlay effects */
.card-img-overlay {

opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
  background-color: white;
}
/* new-page */
    
.add-btn
{
    background-color: #c88282;
    border: none;
    border-radius: 20px;
}
/* //.edit-btn */
.btn
{
    background-color: #c88282;
    border: none;
    border-radius: 20px;
}

.show-img
{
  
    border: none;
    border-radius: 20px;
    height: 30vh;
}
.btns
{
    display: flex;
    gap: 1rem;
}

.show-card
{
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding-left: 0rem;
    padding-right: 0rem;
}
.form-label
{
    font-size: 1.2rem;
    font-weight: 500;
}
